.homeCall {
	padding-top: .8em;
	padding-bottom: .8em;
	background-color: #FAC459;
	font-family: "open-sans", sans-serif;
	font-size: 1.8em;
	font-weight: 700;
	line-height: 1.3;
	color: #fff;
	text-align: center;
}