.produtoEmPreVenda-mensagem {
	background-color: #E47C6A;
	padding: 0.8em 1.5em;
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	font-family: "open-sans", sans-serif;
	font-weight: 700;
	line-height: 1.5;
	color: #FFF;
	display: block;
	bottom: 0;
	font-size: 1.1em;
}

@media screen and (min-width: 585px) {
	.produtoEmPreVenda-mensagem {
		font-size: 1.5em;
	}
}